.article-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: left;


}


.article-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;



  .article-title{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: 2.5rem;
    font-family: inherit;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding: 2rem;

    resize: none;
    overflow: hidden;
  }

  .article-actions{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: 2rem auto;
    width: 80%;

    svg{
      font-size: 1.5rem;
      cursor: pointer;

    }

    button {
      color: var(--white);
      background: transparent;
      border: 1px solid var(--yellow-500);
      filter:brightness(0.7);
      border-radius: 12px;
      height: 3rem;
      width: 25%;
      justify-content: center;
      align-items: center;
      transition: 0.3s;

      &:hover{
        filter:brightness(0.9);
        color: var(--gray-100);
        background-color: var(--yellow-500);
      }
    }
  }

}

.article-list{
  max-width: 720px;
  min-width: 340px;
  margin: 5rem auto;

  strong {
    font-size: 1.5rem;
    font-weight: 900;
  }
  time {
    display: block;
    font-size: 1rem;
    color: var(--gray-300);
    margin-top: 1.5rem;
  }

  a{
    &:hover{
      color: var(--yellow-500);
      text-decoration: underline;

    }
  }
}

#editorjs{
  width: 100%;
  max-width: inherit;

  svg{
    color: var(--gray-300);
  }
.ce-conversion-toolbar{
  color: var(--gray-800);
}
}

